$categories: misc, best, anarchy, skyblock, currency;

$categoriesIconsWidths: (
        misc: 75px,
        best: 66px,
        anarchy: 77px,
        skyblock: 75px,
        currency: 76px
);

$categoriesIconsHeights: (
        misc: 35px,
        best: 75px,
        anarchy: 43px,
        skyblock: 75px,
        currency: 56px
);
