*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $main-black;
  font-family: $main-font;
}

.container {
  width: 77%;
  margin: 0 auto;
  border: 1px;
}
