@import "./privilege-colors";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

.container {
  width: 77%;
  margin: 0 auto;
}

@each $privilege, $color in $privileges {
  .privilege-back-color--#{$privilege} {
    background-color: $color;
  }
}
