@import "./privilege-colors";
@import "./vars.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

.container {
  width: $content-width;
  margin: 0 auto;

  @each $name, $width in $min-widths {
    &--no-#{$name} {
      @if $name != desktop {
        @media (min-width: $width) and (max-width: map.get($max-widths, #{$name})) {
          width: 100%;
        }
      } @else {
        @media (min-width: $width) {
          width: 100%;
        }
      }
    }
  }
}

@each $privilege, $color in $privileges {
  .privilege-back-color--#{$privilege} {
    background-color: $color;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
