$font-weights: ("Light": 300, "Regular": 400, "Medium": 500, "SemiBold": 600, "Bold": 700);
@each $name, $weight in $font-weights {
  @font-face {
    font-weight: $weight;
    font-style: normal;
    font-family: 'Montserrat';
    src: local('Montserrat'), url('~st/fonts/Montserrat/Montserrat-#{$name}.woff2') format('woff2'), url('~st/fonts/Montserrat/Montserrat-#{$name}.woff') format('woff'), url('~st/fonts/Montserrat/Montserrat-#{$name}.ttf') format('truetype');
    font-display: swap;
  }

  @if $name != 'SemiBold' {
    @font-face {
      font-weight: $weight;
      font-style: normal;
      font-family: Ubuntu;
      src: local('Ubuntu'), url('~st/fonts/Ubuntu/Ubuntu-#{$name}.woff2') format('woff2'), url('~st/fonts/Ubuntu/Ubuntu-#{$name}.woff') format('woff'), url('~st/fonts/Ubuntu/Ubuntu-#{$name}.ttf') format('truetype');
      font-display: swap;
    }
  }
}
