@mixin theme($back-color, $text-color, $header-color, $header-accent-color) {
  --back-color: #{$back-color};
  --second-back-color: #{$header-color};
  --text-color: #{$text-color};
  --header-accent-color: #{$header-accent-color};
  --header-gradient: linear-gradient(180deg, #{rgb($header-color, 1)} 50%, #{rgb($header-color, 0)} 100%);
  --header-accent-gradient: linear-gradient(180deg, #{rgb($header-accent-color, 1)} 50%, #{rgb($header-accent-color, 0)} 100%);
  background-color: var(--back-color);
  color: var(--text-color);
}

@mixin hover($content: false) {
  &:hover {

    @if $content {
      @content;
    }
    cursor: pointer;
  }
}

@mixin back-retina($dir) {
  background-image: url('~st/images/#{$dir}/back@1x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media ($retina) {
    background-image: url('~st/images/#{$dir}/back@2x.jpg');
  }
}

@mixin transition($properties...) {
  $result: ();
  $will-change: ();

  @each $property in $properties {
    $result: append($result, ($property $transition), $separator: comma);
    $will-change: append($will-change, ($property), $separator: comma);
  }

  transition: $result;
  will-change: $will-change;
}
